body {
  width: 300px;
}

#title {
  text-align: center;
}

#warning {
  color: red;
}

#placeTagList {
  list-style: none;
}

.placeTagLabel {
  display: flex;
  justify-content: space-around;
}

.tagBtn {
  all: unset;
  cursor: pointer;
}
